<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- column -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Datos básicos de la Unidad Ejecutora</h4>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dirección Administrativa:</td>
                    <td>1</td>
                    <td>Concejo Municipal</td>
                  </tr>
                  <tr>
                    <td>Unidad Ejecutora:</td>
                    <td>1</td>
                    <td>Administración del Concejo Municipal</td>
                  </tr>
                  <tr>
                    <td>Fondo:</td>
                    <td>1</td>
                    <td>Fondo de Funcionamiento</td>
                  </tr>
                  <tr>
                    <td>Tipo de Operación</td>
                    <td>4</td>
                    <td>Funcionamiento</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- column -->
      <!-- row -->
      <div class="row">
        <div class="card-body">
          <h4 class="card-title">Info Table</h4>
          <div class="table-responsive">
            <table class="table color-bordered-table warning-bordered-table">
              <thead>
                <tr>
                  <th>Cod. POA</th>
                  <th>Política 24/7</th>
                  <th>ACP</th>
                  <th>Programa</th>
                  <th>Proyecto</th>
                  <th>Actividad</th>
                  <th>Operación</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Presupuesto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>35915</td>
                  <td>1</td>
                  <td>203</td>
                  <td>01</td>
                  <td>0000</td>
                  <td>001</td>
                  <td>SERVICIOS DE ADMINISTRACIÓN CONCEJO MUNICIPAL</td>
                  <td>01/01/2020</td>
                  <td>31/12/2020</td>
                  <td>32.281.034,00</td>
                </tr>

                <tr>
                  <td>35915</td>
                  <td>1</td>
                  <td>203</td>
                  <td>01</td>
                  <td>0000</td>
                  <td>001</td>
                  <td>SERVICIOS DE ADMINISTRACIÓN CONCEJO MUNICIPAL</td>
                  <td>01/01/2020</td>
                  <td>31/12/2020</td>
                  <td>32.281.034,00</td>
                </tr>

                <tr>
                  <td>35915</td>
                  <td>1</td>
                  <td>203</td>
                  <td>01</td>
                  <td>0000</td>
                  <td>001</td>
                  <td>SERVICIOS DE ADMINISTRACIÓN CONCEJO MUNICIPAL</td>
                  <td>01/01/2020</td>
                  <td>31/12/2020</td>
                  <td>32.281.034,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
