<app-loading *ngIf="cargando"></app-loading>

<div *ngIf="!cargando" class="tab-pane active" id="home" role="tabpanel">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- column -->
          <div class="row">
            <div class="tab-pane" id="rol1" role="tabpanel">
              <div class="card-body">
                <h4 class="card-title">Datos Referenciales</h4>

                <div class="table">
                  <table class="table color-table info-table">

                    <tbody>
                      <tr>
                        <td>Dirección Administrativa:</td>
                        <td>1</td>
                        <td>{{unidad?.direccion}}</td>
                      </tr>
                      <tr>
                        <td>Unidad Ejecutora:</td>
                        <td>{{unidad?.numunidad}}</td>
                        <td>{{unidad?.unidad}}</td>
                      </tr>
                      <tr>
                        <td>Fondo:</td>
                        <td>{{unidad?.numfondo}}</td>
                        <td>{{unidad?.fondo}}</td>
                      </tr>
                      <tr>
                        <td>Tipo de Operación:</td>
                        <td>{{unidad?.numtipo}}</td>
                        <td>{{unidad?.tipoope}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="bg-warning stats-bar">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="p-20 active">
                                        <h3 class="text-black text-center">Direccion Administrativa:</h3>
                                        <h3 class="text-black text-center">Unidad Ejecutora:</h3>
                                        <h3 class="text-black text-center">Fondo:</h3>
                                        <h3 class="text-black text-center">Tipo de Operacion:</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="p-20">
                                        <h3 class="text-black text-center">1</h3>
                                        <h3 class="text-black text-center">1</h3>
                                        <h3 class="text-black text-center">1</h3>
                                        <h3 class="text-black text-center">4</h3>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="p-20">
                                        <h3 class="text-black text-center">Concejo Municipal</h3>
                                        <h3 class="text-black text-center">Administracion del Concejo Municipal</h3>
                                        <h3 class="text-black text-center">Fondo de Funcionamiento</h3>
                                        <h3 class="text-black text-center">Funcionamiento</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
          </div>



          <!-- column -->
          <!-- row -->
          <div *ngIf="!cargando" class="row">
            <div class="card-body">
              <div class="my-2 text-left">
                <button
                  *ngIf="usuario.role !== 'Usuario'"
                  class="btn btn-rounded btn-info"
                  type="button"
                  [routerLink]="['form']" routerLinkActive="router-link-active"
                >
                  Crear Operación
                </button>
              </div>
              <div class="table-responsive">
                <table class="table color-table info-table table-striped">
                  <thead>
                    <tr>
                      <th>Cod. POA</th>
                      <th>Política 24/7</th>
                      <th>ACP</th>
                      <th>Programa</th>
                      <th>Proyecto</th>
                      <th>Actividad</th>
                      <th>Operación</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                      <th>Presupuesto</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of proyectos">
                      <td>
                        {{ item.poa }}
                      </td>
                      <td>{{ item.politica }}</td>
                      <td>{{ item.acp }}</td>
                      <td>{{ item.programa }}</td>
                      <td>{{ item.proyecto | slice:0:4 }}</td>
                      <td>{{ item.actividad }}</td>
                      <td>{{ item.operacion }}</td>
                      <td>{{ item.inicio | date: 'dd/MM/yy'}}</td>
                      <td>{{ item.fin| date: 'dd/MM/yy' }}</td>
                      <td>{{ item.presupuesto | currency }}</td>
                      <td class="text-nowrap text-center">

                        <a data-toggle="tooltip"
                            data-original-title="Editar"
                            style="margin-right: 20px;"
                            class="cursor pointer"
                            [routerLink]="['form', item.proyId]" routerLinkActive="router-link-active"
                            >
                            <i class="fa fa-edit"></i>
                        </a>

                        <!-- <a data-toggle="tooltip"
                            data-original-title="Borrar"
                            class="cursor pointer"
                            >
                            <i class="fa fa-trash"></i>
                        </a> -->
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--second tab-->
