<div class="row">
  <div class="col-lg-3">
      <div class="card bg-info">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income-w.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Unidades</h6>
                      <h2 class="m-t-0 text-white">{{unidades}}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card bg-success">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Operaciones</h6>
                      <h2 class="m-t-0 text-white">{{proyectos.length}}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card bg-primary">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Acciones</h6>
                      <h2 class="m-t-0 text-white">{{acciones}}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="card bg-danger">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Nuestro equipo</h6>
                      <h2 class="m-t-0 text-white">{{usuarios}}</h2></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<app-loading *ngIf="cargando" ></app-loading>

<iframe *ngIf="!cargando" width="1140" height="541.25"
        src="https://app.powerbi.com/reportEmbed?reportId=22312ce2-9d95-4375-96db-ccf640619647&autoAuth=true&ctid=ad5aa627-6d0f-4a17-b9e6-d1675ba948fe&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"
        frameborder="0" allowFullScreen="true">
</iframe>

