<div class="modal-info animated fadeIn fast"
            [class.close-modal]="modalInfoService.ocutarModal">

            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myLargeModalLabel">Nombre del proyecto</h4>
                      <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <form (ngSubmit)="crearnuevoProyecto( forma )" #forma="ngForm"
                        autocomplete="off"
                        class="form-horizontal">
                          <div class="form-body">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="control-label text-right col-md-3">Encargado</label>
                                          <div class="col-md-9">
                                              <input type="text"
                                                class="form-control"
                                                placeholder="Ejem. Jose Luis Perales"
                                                [class.is-invalid]="encargado.invalid && encargado.touched"
                                                [(ngModel)]="nuevoProyecto.encargado"
                                                name="encargado"
                                                required
                                                #encargado="ngModel">
                                              <small *ngIf="encargado.invalid && encargado.touched"
                                                class="form-text text-danger"> El encargado es requerido</small>
                                          </div>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="control-label text-right col-md-3">Titulo</label>
                                          <div class="col-md-9">
                                            <input type="text"
                                              class="form-control"
                                              placeholder="Gobierno electronico"
                                              [class.is-invalid]="name.invalid && name.touched"
                                              [(ngModel)]="nuevoProyecto.name"
                                              name="name"
                                              required
                                              #name="ngModel">
                                            <small class="form-control-feedback">Escriba el titulo del proyecto</small>
                                            <small *ngIf="name.invalid && name.touched"
                                                class="form-text text-danger"> El titulo es requerido</small>
                                          </div>
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>
                              <!--/row-->
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="control-label text-right col-md-3">Cod. POA</label>
                                          <div class="col-md-9">
                                              <select class="form-control custom-select"
                                                  [(ngModel)]="nuevoProyecto.poa"
                                                  [class.is-invalid]="poa.invalid && poa.touched"
                                                  required
                                                  #poa="ngModel"
                                                  name="poa">
                                                  <option value="35915">35915</option>
                                                  <option value="35916">35916</option>
                                                  <option value="35917">35917</option>
                                                  <option value="35918">35918</option>
                                              </select>
                                              <small class="form-control-feedback"> Selecciona el codigo del POA </small>
                                              <small *ngIf="poa.invalid && poa.touched"
                                              class="form-text text-danger"> El codigo del POA es requerido</small>
                                            </div>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="control-label text-right col-md-3">Politica 24/7</label>
                                          <div class="col-md-9">
                                            <input type="text"
                                            class="form-control"
                                            placeholder="Ejem. 1"
                                            [class.is-invalid]="politica.invalid && politica.touched"
                                            [(ngModel)]="nuevoProyecto.politica"
                                            name="politica"
                                            required
                                            #politica="ngModel">
                                            <small *ngIf="politica.invalid && politica.touched"
                                                class="form-text text-danger"> Este campo es requerido</small>
                                        </div>
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>
                              <!--/row-->
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group row">
                                          <label class="control-label text-right col-md-3">ACP</label>
                                          <div class="col-md-9">
                                            <input type="text"
                                            class="form-control"
                                            placeholder="Ejem. 1"
                                            [class.is-invalid]="acp.invalid && acp.touched"
                                            [(ngModel)]="nuevoProyecto.acp"
                                            name="acp"
                                            required
                                            #acp="ngModel">
                                            <small *ngIf="acp.invalid && acp.touched"
                                                class="form-text text-danger"> El ACP es requerido</small>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Programa</label>
                                        <div class="col-md-9">
                                          <input type="text"
                                          class="form-control"
                                          placeholder="Ejem. 1"
                                          [class.is-invalid]="programa.invalid && programa.touched"
                                          [(ngModel)]="nuevoProyecto.programa"
                                            name="programa"
                                            required
                                            #programa="ngModel">
                                            <small *ngIf="programa.invalid && programa.touched"
                                                class="form-text text-danger"> El programa es requerido</small>
                                      </div>
                                    </div>
                                </div>

                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Proyecto</label>
                                        <div class="col-md-9">
                                          <input type="text"
                                          class="form-control"
                                          placeholder="Ejem. 1"
                                          [class.is-invalid]="proyecto.invalid && proyecto.touched"
                                          [(ngModel)]="nuevoProyecto.proyecto"
                                            name="proyecto"
                                            required
                                            #proyecto="ngModel">
                                            <small *ngIf="proyecto.invalid && proyecto.touched"
                                                class="form-text text-danger"> El proyecto es requerido</small>
                                      </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Actividad</label>
                                        <div class="col-md-9">
                                          <input type="text"
                                          class="form-control"
                                          placeholder="Ejem. 1"
                                          [class.is-invalid]="actividad.invalid && actividad.touched"
                                          [(ngModel)]="nuevoProyecto.actividad"
                                            name="actividad"
                                            required
                                            #actividad="ngModel">
                                            <small *ngIf="actividad.invalid && actividad.touched"
                                                class="form-text text-danger">La actividad es requerida</small>
                                      </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Operacion</label>
                                        <div class="col-md-9">
                                          <input type="text"
                                          class="form-control"
                                          placeholder="Ejem. 1"
                                          [class.is-invalid]="operacion.invalid && operacion.touched"
                                          [(ngModel)]="nuevoProyecto.operacion"
                                            name="operacion"
                                            required
                                            #operacion="ngModel">
                                            <small *ngIf="operacion.invalid && operacion.touched"
                                                class="form-text text-danger">La operacion es requerida</small>
                                      </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Presupuesto inicial</label>
                                        <div class="col-md-9">
                                          <input type="text"
                                          class="form-control"
                                          placeholder="Ejem. 1"
                                          [class.is-invalid]="presupuesto.invalid && presupuesto.touched"
                                          [(ngModel)]="nuevoProyecto.presupuesto"
                                            name="presupuesto"
                                            required
                                            #presupuesto="ngModel">
                                            <small *ngIf="presupuesto.invalid && presupuesto.touched"
                                                class="form-text text-danger"> El presupuesto es requerido</small>

                                      </div>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Fecha inicio</label>
                                        <div class="col-md-9">
                                          <input type="date"
                                                 class="form-control"
                                                 [class.is-invalid]="inicio.invalid && inicio.touched"
                                                  required
                                                  #inicio="ngModel"
                                                [(ngModel)]="nuevoProyecto.inicio"
                                                name="inicio">
                                                <small *ngIf="inicio.invalid && inicio.touched"
                                                class="form-text text-danger"> La fecha de inicio es requerida</small>
                                      </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="control-label text-right col-md-3">Fecha final</label>
                                      <div class="col-md-9">
                                        <input type="date"
                                               class="form-control"
                                               [class.is-invalid]="fin.invalid && fin.touched"
                                               required
                                               #fin="ngModel"
                                               [(ngModel)]="nuevoProyecto.fin"
                                                name="fin">
                                                <small *ngIf="fin.invalid && fin.touched"
                                                class="form-text text-danger"> La fecha final es requerida</small>
                                    </div>
                                  </div>
                              </div>
                                <!--/span-->
                            </div>


                          </div>
                          <hr>
                          <div class="form-actions">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="row">
                                          <div class="col-md-offset-3 col-md-9">
                                              <button
                                                      class="btn btn-info mr-3"
                                                      type="submit">Crear</button>

                                              <button (click)="cerrarModal()"
                                                type="button"
                                                class="btn btn-danger mr-3">
                                                Cancelar
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
          </div>
</div>
